body {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.notificationContainer {
    display: none;
    border: 1px solid #9d6538;
    color: black;
    background-color: white;
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 20px auto;
}

header {
    border: 1px solid black;
    display: flex;
    padding-top: 20px;
    width: 100%;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}



.logo {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    cursor: pointer;
}

nav {
    border: 1px solid black;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}

header span {
    color: #9d6538;
    background-color: #dabe99;
}
nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

nav ul li {
    float: left;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: white;
    background-color: #9d6538;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.our-story p {
    font-style: italic;
}

.our-story {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #9d6538;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color: white;
}

footer {
    background-color: #9d6538;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color: white;
}

.price {
    cursor: pointer;
}

.price:hover {
    color: #9d6538;
}



.menu {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 5% 35% 32% 20%;
    grid-gap: 10px;
    /* grid-template-areas: 
    "ourMenu ourMenu ourMenu"
    "espresso doppio shortMacchiato"
    "longMacchiato latte mezzo"
    "otherCoffee otherCoffee otherCoffee"; */
}

.ourMenu {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    height: fit-content;
}

.espresso {
    border: 1px solid black;
    grid-row-start: 2;
    grid-column-start: 1;
    text-align: justify;
    width: 26rem;
    height: 280px;
}

.espresso:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}

.doppio {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: justify;
    width: 26rem;
    height: 280px;
}

.doppio:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}


.shortMacchiato {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: justify;
    width: 26rem;
    height: 280px;
}

.shortMacchiato:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}


.longMacchiato {
    border: 1px solid black;
    grid-row-start: 3;
    grid-column-start: 1;
    text-align: justify;
    width: 26rem;
    height: 280px;
}

.longMacchiato:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}

.latte {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: justify;
    width: 26rem;
    height: fit-content;
}

.latte:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}

.mezzo {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: justify;
    width: 26rem;
    height: 280px;
}

.mezzo:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    width: 400px;
    height: fit-content;
}

.otherCoffee {
    border: 1px solid black;
    grid-row-start: 4;
    grid-column-end: 3;
    text-align: center;
    margin: 0 auto;
    width: 26rem;
    height: fit-content;
}

.otherCoffee:hover {
    box-shadow: 0 4px 8px 0  #9d6538, 0 6px 20px 0  #9d6538;
    border-radius: 10px;
    padding: 10px;
    width: 26rem;
    height: fit-content;
}


.theFoot {
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 30% 30%;  
    grid-template-rows: 30% 30% 30% 30%;
    /* grid-template-areas:
    "ourOffice usefulLink newsletter"
    "ourOffice usefulLink newsletter"
    "ourOffice usefulLink newsletter"
    "downDown downDown downDown";    */
}

.theFoot a {
    text-decoration: none;
    color: white;
}

.ourOffice {
    border: 1px solid black;
    grid-column-start: 1;
    grid-row-end: span 2;
    text-align: justify;
    width: 300px;
    height: fit-content;
}

.usefulLink {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-end: span 2;
    text-align: justify;
    width: 20rem;
    height: fit-content;
}

.usefulLink li{
    padding-left: 50px;
    list-style-type: none;
}

.newsletter {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-end: span 2;
    text-align: justify;
    width: 500px;
    height: fit-content;
}

.downDown {
    grid-row-start: 3;
    grid-column-end: span 4;
    border: 1px solid black;
}

.forInput {
    border-bottom: 0.5px solid white;
    margin-left: 50px;
    margin-right: 50px;
}

.forInput a {
    margin-left: 50px;
}

.newsletter input {
    margin-right: 50px;
    background-color: #9d6538;
    border: none;
    padding-bottom: 10px;
}

.newsletter input::placeholder {
    
    font-size: smaller;
    color: white;
}


img {
    width: 24rem;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 2), 0 6px 20px 0 rgb(0, 0, 0, 19);
    border-radius: 20px;
}

.gallery {
    border: 1px solid black;
   padding: 50px;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: 30% 30% 30%;
   grid-template-rows: 30% 30% 30%;
   /* grid-template-areas: 
   "espressoImage doppioImage shortMacchiatoImage"
   "longMacchiatoImage latteImage mezzoImage"
   "ristrettoImage flatWhiteImage longBlackImage"; */
}

.espressoImage {
    border: 1px solid black;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.espressoImage:hover {
    transform: translateY(-5px);
}

.doppioImage {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.doppioImage:hover {
    transform: translateY(-5px);
}

.shortMacchiatoImage {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.shortMacchiatoImage:hover {
    transform: translateY(-5px);
}

.longMacchiatoImage {
    border: 1px solid black;
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    transition: transform 0.3s ease;
}

.longMacchiatoImage:hover {
    transform: translateY(-5px);
}

.latteImage {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    transition: transform 0.3s ease;
}

.latteImage:hover  {
    transform: translateY(-5px);
}

.mezzoImage {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
    transition: transform 0.3s ease;
}

.mezzoImage:hover {
    transform: translateY(-5px);
}

.ristrettoImage {
    border: 1px solid black;
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: center;
    transition: transform 0.3s ease;
}

.ristrettoImage:hover {
    transform: translateY(-5px);
}

.flatWhiteImage {
    border: 1px solid black;
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
    transition: transform 0.3s ease;
}

.flatWhiteImage:hover {
    transform: translateY(-5px);
}

.longBlackImage {
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: center;
    transition: transform 0.3s ease;
}

.longBlackImage:hover {
    transform: translateY(-5px);
}


.externalIcons i {
    padding-left: 50px;
    padding-top: 20px;
}

.downLogo  {
    float: left;
    cursor: pointer;
}

.downLogo span {
    color: #9d6538;
    background-color: #dabe99;
}

.copyW {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    cursor: pointer;
}

.copyW ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
}

.copyW li {
    float: left;
    padding: 10px;
}

@media only screen
and (max-width: 600px)
and (orientation: portrait)
{

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-story {
    display: flex;
    flex-direction: column;
}

nav {
    justify-content: center;
    width: 100%;
}

img {
    width: 150px;
    height: 100px;
}

.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



 .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25% 25%;
 }



 .espressoImage {
    grid-column-start: 1;
    grid-row-start: 1;
    height: fit-content;
 }

 .doppioImage {
    grid-column-start: 2;
    grid-row-start: 1;
    height: fit-content;
 }

 .shortMacchiatoImage {
    grid-column-start: 1;
    grid-row-start: 2;
    height: fit-content;
 }

 .longMacchiatoImage {
    grid-column-start: 2;
    grid-row-start: 2;
    height: fit-content;
 }

 .latteImage {
    grid-column-start: 1;
    grid-row-start: 3;
    height: fit-content;
 }

 .mezzoImage {
    grid-column-start: 2;
    grid-row-start: 3;
    height: fit-content;
 }

 .ristrettoImage {
    grid-column-start: 1;
    grid-row-start: 4;
    height: fit-content;
 }

 .flatWhiteImage {
    grid-column-start: 2;
    grid-row-start: 4;
    height: fit-content;
 }

 .longBlackImage {
    grid-column-start: span 2;
    grid-row-start: 5;
    display: none;
 }

 .theFoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
 }

 .downDown {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
 }
}
